dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.sandbox.config
.cabal-sandbox/
cabal.config
*.cabal
tags
TAGS
.HTF/
*.swp
*.swo
*.tix
doc-index-*.html
